version: "3.9"

services:
  csv-viewer:
    build:
      context: .
      dockerfile: Dockerfile
    ports:
      - "13000:3000"
    environment:
      PORT: 3000
      HOST: "0.0.0.0"
      AWS_ACCESS_KEY_ID: YOUR_AWS_ACCESS_KEY_ID
      AWS_SECRET_ACCESS_KEY: YOUR_AWS_SECRET_ACCESS_KEY
      AWS_REGION: YOUR_AWS_REGION
    volumes:
      - ./public/server-data:/app/public/server-data
    restart: unless-stopped
